body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 60px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: flex-end;
}

.nav-right-section{
    list-style: none;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-right-section a{
    margin-right: 10px;
    color: black;
}

.menu-icon{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAElBMVEX///8AAABTU1NXV1eOjo6Li4tbM5pLAAAAsElEQVR4nO3auQ3AIBBFQS7337ILIFhkCwPWTL7BCxE/JQAAAAAAAH7qKoG24uKBkgN1xYUQIUKECBEiRIgQIUKECBEiRIgQIUKECBEiRMi8kFYD3SfMFxcAAAAHsaDb7akrRIgQIUKECBEiRIgQIUKECBEiRIgQIUKECBEyyIIOAADgJQu63Z66QoQIESJEiBAhQoQIESJEiBAhQoQIESJEiBAhgyzoAAAAAAAAmOkGEdkv2vRl3nQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.menu-profile{
    border-radius: 50%;
    margin-left: 10px;

}

main{
    margin-top: 150px;
    text-align: center;
}

.main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input input{
    width: 450px;
    border: none;
    height: 40px;
    outline: none;
}

.main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.search-icon{
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.micro-icon{
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.main-buttons{
    width: 530px;
    margin: 0 auto;
}

.main-buttons div{
    display: inline-block;
}

button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    outline: none;
}

button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4 ;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

.footer-left{
    justify-self: left;
}

.footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}

